body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: 
    url(./img/bg.jpg);
}
body  {
    font-family: Arial, sans-serif;
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text-container {
    position: absolute;
    top: 90px; 
    margin-left: 40px;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.a {
    position: absolute;
    top: 140px;
    margin-right: 50px;
    text-align: center;
}

h1 {
    color: #333;
}

#click-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#click-button:hover {
    background-color: #218838;
}

#coin-count {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
